.container{
    background-color: #ccc;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0;
    width:50%;
    margin-bottom: 20px;

}
.myForm{
    text-align: left;
    padding: 10px 12px;
    
}
label{
    font-size: 20px;
    margin-left: 10px;
    padding-bottom: 20px;
}
input[type=text],input[type=submit]{
    display: block;
    width: 50%;
    padding: 5px 10px;
    border: 2px solid blue;
    border-radius: 7px;

    

}
table{
    border-collapse: collapse;
    width:50%;
    border-spacing: 0;
    
}

tr th{
    text-align: left;
    padding: 16px;
    border: 1px solid grey;
    
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}